<form class="example-form">

  <mat-form-field class="example-file-input" appearance="outline">
    <mat-label>Documents</mat-label>
    <grl-file-input #fileInput [multiple]="true" [formControl]="fileFormControl" [errorStateMatcher]="matcher"></grl-file-input>
    <button matSuffix type="button" mat-flat-button color="primary" [grlFileInputButtonFor]="fileInput">Upload</button>
    <mat-hint>You can upload just a single image</mat-hint>
    @if (fileFormControl.hasError('maxContentSize')) {
    <mat-error>The file size should not be more than {{1048576 | byteFormat}}</mat-error>
    }
    @if (fileFormControl.hasError('required')) {
    <mat-error>This field is <strong>required</strong></mat-error>
    }
  </mat-form-field>

</form>