<div class="docs-markdown"><h1>Getting Started with Ng Gorilla</h1><p>This guide explains how to set up your Angular project to begin using Ng Gorilla. It includes
information on prerequisites, installing Ng Gorilla, and optionally displaying a sample
Material component in your application to verify your setup.</p>
<p><em>Angular Resources</em></p>
<p>If you are new to Angular or getting started with a new Angular application, see
<a href="https://angular.io/start">Angular&#39;s full Getting Started Guide</a> and
<a href="https://angular.io/guide/setup-local">Setting up your environment</a>.</p>
<p>For existing applications, follow the steps below to begin using Ng Gorilla.</p>

        <h2 id="install-ng-gorilla" class="docs-header-link">
          <span header-link="install-ng-gorilla"></span>
          Install Ng Gorilla
        </h2>
      <p>set up your Ng Gorilla project by running the following command:</p>
<pre><code class="language-bash">npm install ng-gorilla
</code></pre>
<p>do not forget to install angular materila project because ng-gorilla needs it, install it by running the following command:</p>
<pre><code class="language-bash">npm install @angular/material
</code></pre>
<p>The <code>npm install ng-gorilla</code> command will install Ng Gorilla, the</p>
<p>You&#39;re done! Ng Gorilla is now configured to be used in your application.</p>

        <h3 id="display-a-component" class="docs-header-link">
          <span header-link="display-a-component"></span>
          Display a component
        </h3>
      <p>Let&#39;s display a file input component in your app and verify that everything works.</p>
<p>You need to import the <code>GrlFileInputModule</code> that you want to display by adding the following lines to
your <code>app.component.ts</code> file.</p>
<pre><code class="language-ts"><span class="hljs-keyword">import</span> {Component} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;@angular/core&#x27;</span>;
<span class="hljs-keyword">import</span> {FormControl, ReactiveFormsModule, Validators} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;@angular/forms&#x27;</span>;
<span class="hljs-keyword">import</span> {MatButtonModule} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;@angular/material/button&#x27;</span>;
<span class="hljs-keyword">import</span> {MatFormFieldModule} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;@angular/material/form-field&#x27;</span>;
<span class="hljs-keyword">import</span> {GrlFileInputModule} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;ng-gorilla/file-input&#x27;</span>;

<span class="hljs-meta">@Component</span>({
  <span class="hljs-attr">selector</span>: <span class="hljs-string">&#x27;app-root&#x27;</span>,
  <span class="hljs-attr">styleUrls</span>: [<span class="hljs-string">&#x27;app.component.css&#x27;</span>],
  <span class="hljs-attr">templateUrl</span>: <span class="hljs-string">&#x27;app.component.html&#x27;</span>,
  <span class="hljs-attr">standalone</span>: <span class="hljs-literal">true</span>,
  <span class="hljs-attr">imports</span>: [ReactiveFormsModule, MatFormFieldModule, GrlFileInputModule, MatButtonModule]
})
<span class="hljs-keyword">export</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">AppComponent</span> </span>{
  fileFormControl = <span class="hljs-keyword">new</span> FormControl([], [Validators.required]);
}
</code></pre>
<p>Add the <code>&lt;grl-file-input&gt;</code> tag to the <code>app.component.html</code> like so:</p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">form</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-form&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mat-form-field</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-file-input&quot;</span> <span class="hljs-attr">appearance</span>=<span class="hljs-string">&quot;outline&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-label</span>&gt;</span>Documents<span class="hljs-tag">&lt;/<span class="hljs-name">mat-label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">grl-file-input</span> #<span class="hljs-attr">fileInput</span> 
        [<span class="hljs-attr">multiple</span>]=<span class="hljs-string">&quot;true&quot;</span>
        [<span class="hljs-attr">maxContentSize</span>]=<span class="hljs-string">&quot;1048576&quot;</span>
        [<span class="hljs-attr">formControl</span>]=<span class="hljs-string">&quot;fileFormControl&quot;</span>
        <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;Upload you docs here&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">grl-file-input</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;button&quot;</span> <span class="hljs-attr">matSuffix</span> <span class="hljs-attr">mat-flat-button</span> <span class="hljs-attr">color</span>=<span class="hljs-string">&quot;primary&quot;</span> [<span class="hljs-attr">grlFileInputButtonFor</span>]=<span class="hljs-string">&quot;fileInput&quot;</span>&gt;</span>Upload<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-hint</span>&gt;</span>You can upload multiple images<span class="hljs-tag">&lt;/<span class="hljs-name">mat-hint</span>&gt;</span>
      @if (fileFormControl.hasError(&#x27;maxContentSize&#x27;)) {
        <span class="hljs-tag">&lt;<span class="hljs-name">mat-error</span>&gt;</span>The file size should not be more than {{1048576 | byteFormat}}<span class="hljs-tag">&lt;/<span class="hljs-name">mat-error</span>&gt;</span>
      }
      @if (fileFormControl.hasError(&#x27;required&#x27;)) {
       <span class="hljs-tag">&lt;<span class="hljs-name">mat-error</span>&gt;</span>This field is <span class="hljs-tag">&lt;<span class="hljs-name">strong</span>&gt;</span>required<span class="hljs-tag">&lt;/<span class="hljs-name">strong</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mat-error</span>&gt;</span>
      }
  <span class="hljs-tag">&lt;/<span class="hljs-name">mat-form-field</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span>
</code></pre>
<p>Run your local dev server:</p>
<pre><code class="language-bash">ng serve
</code></pre>
<p>Then point your browser to <a href="http://localhost:4200">http://localhost:4200</a></p>
<p>You should see the Ng Gorilla file input component on the page.</p>
</div>