<div class="docs-primary-header">
    <h1>{{guide?.name}}</h1>
  </div>
  
  <div class="docs-guide-wrapper">
    <div class="docs-guide-toc-and-content">
      <app-doc-viewer class="docs-guide-content"
                  (contentRendered)="toc.addHeaders('Guide Content', $event); toc.updateScrollPosition()"
                  [documentUrl]="guide?.document"
                  focusOnNavigation
                  id="guide-content"
                  aria-label="Guide content"></app-doc-viewer>
      <app-table-of-contents #toc container="guide-viewer"></app-table-of-contents>
    </div>
  </div>
  
  <app-footer></app-footer>
  